<template>
    <div class="">
        <app-page>
            <template slot="heading">
                About
            </template>
            <div class="row" style="font-size: 1.25rem;">
                <div class="col-12 mt-3 mb-2">
                    <h3
                    class="text-center"
                    style="font-style: italic;"
                    >
                        CaptWebDesign Laravel Demo
                    </h3>
                </div>
                <div class="offset-2 col-8">
                    <p class="text-center">
                        You're using v1.0 of this demo.
                    </p>
                    <h4>Getting Started</h4>
                    <ol>
                        <li>
                            Install by using composer.<br>
                            <code>composer install</code>
                        </li>
                        <li>
                            Create a MySQL database and set the necessary config
                            values in the .env file.
                        </li>
                        <li>
                            Run migrate.<br>
                            <code>php artisan migrate</code>
                        </li>
                        <li>
                            Start the local webserver<br>
                            <code>php artisan serve</code><br>
                        </li>
                        <li>
                            Now open your web browser and go to:
                            <code>http://localhost:8000</code>
                        </li>
                    </ol>
                </div>
            </div>
        </app-page>
    </div>
</template>

<script>
export default {
    name: 'about'
};
</script>

<style lang="css" scoped>
</style>
