<template>
<div class="">
    <app-page>
        <template slot="heading">
            Demo ORM
        </template>
        <div class="py-3">
            <div class="row">
                <div class="col-12">
                    <h4>
                        Create a new object.
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="">
                        <b-form-group id="input-group-1" label="Name:*" label-for="field-name">
                            <b-form-input id="field-name" v-model="fields.name.value" type="text" required placeholder=""></b-form-input>
                        </b-form-group>

                        <b-form-group id="input-group-1" label="Value:*" label-for="field-value">
                            <b-form-input id="field-value" v-model="fields.value.value" type="text" required placeholder=""></b-form-input>
                        </b-form-group>

                        <b-button type="submit" variant="primary" @click="onSubmit">Create Object</b-button>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <h4>Objects:</h4>
                    <div v-if="objects.length"
                    class=""
                    style="background-color: rgba(0,0,0,0.05); min-height: 10rem; overflow: hidden;"
                    >
                        <b-list-group v-if="objects.length">
                            <b-list-group-item
                            v-for="(object, index_object) in objects"
                            :key="index_object"
                            style="border-radius: 0;"
                            >
                                <div
                                class=""
                                style=""
                                >
                                    <label>{{ object.name }}:</label>
                                    {{ object.value }}
                                </div>
                            </b-list-group-item>
                        </b-list-group>

                    </div>
                    <div
                    v-if="!objects.length"
                    class="text-center p-5 text-muted"
                    style="min-height:10rem;background-color: rgba(0,0,0,0.05)"
                    >
                        <h5>No Objects Created</h5>
                    </div>
                </div>
            </div>
        </div>
    </app-page>
</div>
</template>

<script>
export default {
    name: 'demo-orm',
    data() {
        return {
            fields: {
                name: {
                    value: ""
                },
                value: {
                    value: ""
                },
            }
        }
    }, // data
    computed: {
        ...mapState([
            'objects'
        ])
    },
    methods: {
        onSubmit() {
            var _this = this;

            // Check fields
            if (!_this.fields.name.value.length || !_this.fields.name.value.length) {
                // error
                console.log("Error: Name and Value fields required.");
                return;
            }

            axios.post('/api/object-create', {
                    name: _this.fields.name.value,
                    value: _this.fields.value.value,
                })
                .then(function(response) {
                    if (response.data.error) {
                        // error
                        console.error('Error creating object.');
                        return;
                    }
                    var object = response.data.object;
                    _this.$store.dispatch('loadObjects');
                })
                .catch(function(e) {
                    // error
                    console.error('Error creating object.');
                });
            return false;
        }
    },
    mounted() {

    }
};
</script>

<style lang="css" scoped>
</style>
