<template>
<div class="">
    <app-page>
        <template slot="heading">
            Demo VueJS
        </template>
        <div class="row" style="font-size: 1.25rem;">
            <div class="col-12 my-5">
                <h3
                class="text-center"
                style="font-style: italic;"
                >
                    This demo features VueJS!
                </h3>
            </div>
            <div class="offset-3 col-6">
                <p>
                    You'll notice that page load speed seems to be close to zero!
                </p>
                <p>
                    This demo is utilizing a SPA or Single Page Application pattern.
                </p>
                <p>
                    What is a SPA?
                </p>
                <p>
                    Single Page Applications or SPA based websites utilize advancements
                    in JavaScript to fetch data in order to display different pages and
                    updates in data.
                </p>
                <p>
                    This means most times, you won't have to request a full webpage from
                    the server. As a result, page load speeds are much faster!
                </p>
            </div>
        </div>
    </app-page>
</div>
</template>

<script>
export default {
    name: 'demo-vuejs',
    data() {
        return {

        }
    }, // data
    computed: {
        ...mapState([

        ])
    },
    methods: {

    },
    mounted() {

    }
};
</script>

<style lang="css" scoped>
h3 {
    font-size: 2rem;
}
</style>
