<template>
<div class="">
    <app-page
    :use-heading="false"
    >
        <!-- <template slot="heading">
            CaptWebDesign Laravel Demo
        </template> -->
        <div class="row pb-3">
            <div class="col-12">

                <div class="row">
                    <div class="col-12 d-flex">
                        <img src="/images/laravel-logo.png" alt=""
                        style="float: left; width:25rem; height:25rem;"
                        >
                        <div class="align-self-center">
                            <h3 style="font-size:2rem;">CaptWebDesign Laravel Demo</h3>
                            <p style="font-size:1.25rem;">Demos of various Laravel features.</p>
                        </div>
                    </div>
                </div>
                <b-card-group deck>

                    <b-card header="Demo ORM">

                        <p class="card-text mt-2">
                            Demo has an object create form and objects display.
                        </p>

                        <b-list-group>
                            <b-list-group-item>
                                <router-link to="/demo-orm">Demo ORM</router-link>
                            </b-list-group-item>
                        </b-list-group>

                    </b-card>

                    <b-card header="Demo VueJS">

                        <p class="card-text mt-2">
                            Demo showcasing VueJS.
                        </p>

                        <b-list-group>
                            <b-list-group-item>
                                <router-link to="/demo-vuejs">Demo VueJS</router-link>
                            </b-list-group-item>
                        </b-list-group>

                    </b-card>

                </b-card-group>
            </div>
        </div>
    </app-page>
</div>
</template>

<script>
export default {
    name: 'home'
};
</script>

<style lang="css" scoped>
</style>
