<template>
    <div class="px-2">
        <app-header></app-header>
        <div
        class="container-fluid"
        style="border: 1px solid rgba(0,0,0,0.25);"
        >
            <div
            class="row"
            v-if="useHeading"
            >
                <div
                class="col-12 py-3 text-muted"
                style="border-bottom: 1px solid rgba(0,0,0,0.25);"
                >
                    <h1
                    class="m-0 p-0 text-center"
                    style="font-size: 1rem;"
                    >
                        <slot name="heading"></slot>
                    </h1>
                </div>
            </div>
            <slot></slot>
        </div>
    </div>
</template>

<script>
export default {
    name: 'app-page',
    props: {
        useHeading: {
            default: true
        }
    }
}
</script>

<style lang="css" scoped>
    h1.heading{
        font-size: 1rem;
    }
</style>
