<template>
<div>
    <b-nav>
        <b-nav-item
        to="/"
        >
            Home
        </b-nav-item>
        <b-nav-item
        to="/about"
        >
            About
        </b-nav-item>
        <b-nav-item
        to="/demo-orm"
        >
            Demo Orm
        </b-nav-item>
        <b-nav-item
        to="/demo-vuejs"
        >
            Demo VueJS
        </b-nav-item>
    </b-nav>
</div>
</template>

<script>
export default {
    name: 'bv-nav'
}
</script>

<style lang="css" scoped>
</style>
